@media screen and (max-width: 1200px) {
    .all-services{
        width: 300px;
        height: 350px; 
    }
    .second-sect{
        max-width: 1050px;
        margin: 0 auto;
        margin-top: 50px;
    }
    .services{
        justify-content: center;
       gap: 30px;
    }
    .third-sect{
        max-width: 1050px;
        margin: 0 auto;
        margin-top: 100px;
    }
    .abt{
        display: flex;
        justify-content: center;
        gap: 70px;
    }
}
@media screen and (max-width: 1024px) {
    .all-services{
        width: 280px;
        height: 400px; 
    }
    .second-sect{
        max-width: 900px;
        margin: 0 auto;
        margin-top: 50px;
    }
    .services{
        justify-content: center;
       gap: 50px;
    }
    .third-sect{
        max-width: 900px;
        margin: 0 auto;
        margin-top: 100px;
    }
    .blog-img{
        width: 500px;
    }
    .abt{
        display: flex;
        justify-content: center;
        gap: 50px;
    }
    
}
@media screen and (max-width: 900px) {
    .About-txt p {
        color: #FFF;
        text-align: center;
        font-family: 'Poppins';
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.32px;
        position: absolute;
        top: 400px;
    }

    .About-txt p span {
        color: #FFF;
        font-family: 'Poppins';
        font-size: 46px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.48px;
        text-decoration-line: underline;
    }

    .About-txt p{
        top: 300px;
    }
    .all-services{
        width: 280px;
        height: 400px; 
    }
    .second-sect{
        max-width: 750px;
        margin: 0 auto;
        margin-top: 50px;
    }
    .services{
        justify-content: center;
       gap: 50px;
       flex-wrap: wrap;
    }
    .third-sect{
        max-width: 750px;
        margin: 0 auto;
        margin-top: 100px;
    }
    .blog-img{
        width: 500px;
    }
    .abt{
        display: flex;
        justify-content: center;
        gap: 50px;
        flex-wrap: wrap;
        text-align: center;
    }
    .third-sect{
        max-width: 1150px;
        margin: 0 auto;
        margin-top: 70px;
    }
}

@media screen and (max-width: 768px) {
    .all-services{
        width: 280px;
        height: 400px; 
    }
    .second-sect{
        max-width: 650px;
        margin: 0 auto;
        margin-top: 50px;
    }
    .services{
        justify-content: center;
       gap: 50px;
       flex-wrap: wrap;
    }
    .third-sect{
        max-width: 650px;
        margin: 0 auto;
        margin-top: 100px;
    }
    .blog-img{
        width: 500px;
    }
    .abt{
        display: flex;
        justify-content: center;
        gap: 50px;
        flex-wrap: wrap;
        text-align: center;
    }
    .third-sect{
        max-width: 1150px;
        margin: 0 auto;
        margin-top: 60px;
    }
}

@media screen and (max-width: 640px){
    .About-txt p {
        color: #FFF;
        text-align: center;
        font-family: 'Poppins';
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.32px;
        position: absolute;
        top: 200px;
    }

    .About-txt p span {
        color: #FFF;
        font-family: 'Poppins';
        font-size: 46px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.48px;
        text-decoration-line: underline;
    }

}

@media screen and (max-width: 540px){
    .About-txt p {
        font-size: 25px;
        top: 150px;
    }
    .About-txt p span {
        font-size: 39px;
    }
    .blog-img img{
        width: 80%;
    }
    form{
        max-width: 400px;
    }
    .contact-text h1{
        text-wrap: 40px;
    }
}@media screen and (max-width: 480px){
    .blog-img img{
        width: 80%;
    }
    form{
        max-width: 300px;
    }
    .contact-text h1{
        text-wrap: 40px;
    }
}

@media screen and (max-width: 425px) {
    .About-txt p {
        font-size: 21px;
        top: 170px;
    }
    .About-txt p span {
        font-size: 31px;
    }
    .all-services{
        width: 280px;
        height: 400px; 
    }
    .second-sect{
        max-width: 320px;
        margin: 0 auto;
        margin-top: 50px;
    }
    .services{
        justify-content: center;
       gap: 50px;
       flex-wrap: wrap;
    }
    .third-sect{
        max-width: 320px;
        margin: 0 auto;
        margin-top: 50px;
    }
    .blog-img{
        width: 500px;
    }
    .abt{
        display: flex;
        justify-content: center;
        gap: 50px;
        flex-wrap: wrap;
        text-align: center;
    }
    .abt h2{
        font-size: 30px;
    }
    br{
        display: none;
    }
   hr{
    margin-top: 100px;
   }
   form input{
    height: 50px;
   }
}

@media screen and (max-width: 360px){
    .About-txt p {
        font-size: 20px;
        top: 150px;
    }
    .About-txt p span {
        font-size: 29px;
    }
}
@media screen and (max-width: 320px) {
    .all-services{
        width: 280px;
        height: 400px; 
    }
    .second-sect{
        max-width: 280px;
        margin: 0 auto;
        margin-top: 50px;
    }
    .services{
        justify-content: center;
       gap: 50px;
       flex-wrap: wrap;
    }
    .third-sect{
        max-width: 320px;
        margin: 0 auto;
        margin-top: 50px;
    }
    .blog-img{
        width: 280px;
    }
    .abt{
        display: flex;
        justify-content: center;
        gap: 50px;
        flex-wrap: wrap;
        text-align: center;
    }
    .abt h2{
        font-size: 30px;
        width: 280px;
    }
    .abt p{
        width: 280px;
    }
    br{
        display: none;
    }
    hr{
        margin-top: 50px;
       }
       form {
        width: 280px;
       }
}
@media screen and (max-width: 280px) {
    .About-txt p {
        font-size: 18px;
        top: 130px;
    }
    .About-txt p span {
        font-size: 26px;
    }
    .all-services{
        width: 280px;
        height: 550px; 
    }
    .second-sect{
        max-width: 200px;
        margin: 0 auto;
        margin-top: 50px;
    }
    .services{
        justify-content: center;
       gap: 50px;
       flex-wrap: wrap;
    }
    .third-sect{
        max-width: 200px;
        margin: 0 auto;
        margin-top: 40px;
    }
    .blog-img{
        width: 200px;
    }
    .abt{
        display: flex;
        justify-content: center;
        gap: 50px;
        flex-wrap: wrap;
        text-align: center;
    }
    .abt h2{
        font-size: 30px;
        width: 200px;
    }
    .abt p{
        width: 200px;
    }
    br{
        display: none;
    }
    hr{
        margin-top: 40px;
       }
       form {
        width: 250px;
       }
}
@media screen and (max-width: 230px){
    .About-txt p {
        font-size: 15px;
        top: 120px;
    }
    .About-txt p span {
        font-size: 22px;
    }
    .third-sect{
        max-width: 320px;
        margin: 0 auto;
        margin-top: 30px;
    }
}